# Ignore Environment Variables (NEVER PUSH HF_TOKEN TO GITHUB!)
.env

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore Virtual Environments
venv/
env/

# Ignore ALL Markdown files (README.md etc.)
*.md